extends layout

block content
  h1= title
  div(class='about-info')  
    if user
      p(class='welcome-user') Welcome back #{user.username}!
    
    else 
      p Please Login or Sign up to Participate.

    p
    strong How this works:
    ul
      li If you are not signed up or have a basic account, you will only see the Message contents at the Secret Message Board.
      li If you aquire Member access you will then see the Message contents, the Author and the post date at the Secret Message Board.
      li If you aquire Admin access you will then be able to Delete posts at the Secret Message Board.
      
    p 
    strong Tips:  
    div(class='secret-info')
      ul
        li To get Member access, use the password #[strong 'secret'] on the Become a Member Page
        li To get Admin access, use the password #[strong 'admin'] on the Become an Admin Page