extends layout

block content
    h1(class='user-list-title')= title
    ul
    each user in user_list
      div(class='users-in-list')
        p User Name: #{user.username} 
        p Membership Status: #{user.membership_status} 
        p Admin Status: #{user.admin_status ? 'Admin' : 'Not an Admin'} 

    else
      li There are no users.