extends layout

block content
    h1= title
    ul
    each user in user_list
      ul
        li User Name: #{user.username} 
        li Membership Status: #{user.membership_status} 

    else
      li There are no users.