/* The sidebar menu */
.sidebar-nav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden;
  padding-top: 20px
}

/* The navigation menu links */
.sidebar-nav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar-nav a:hover {
  /* color: red; */
  color: #f1f1f1;
}

h1 {
  color: #ee0;
}

.main a {
  color: red;
  font-size: 25px;
}

body {
  background-color: darkgray;
}

/* Style page content */
.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding-left: 25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar-nav {padding-top: 15px;}
  .sidebar-nav a {font-size: 18px;}
}

.messages-container {
  position:absolute;
  top: 200px;
  left: 180px;
  right: 0px;
  bottom: 0px;
  overflow-y:scroll;
}

.message {
  background-color: olive;
  color: #ee0;
  border: #818181;
  width: 60%;
  border-style: solid;
  border-width: 5px;
  margin-top: 25px;
  margin-left: 35px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.message a {
  color: red;
  font-size: 15px;
}

.header {
  padding-top: 8px;
  height: 200px;
  border-bottom: dotted #444 1px;
}

.about-info {
  font-size: 15px;
}

.form-control {
  width: 400px;
}

.btn {
  margin-top: 10px;
}

.users-in-list {
  background-color: olive;
  color: #ee0;
  border: #818181;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  margin-top: 25px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.secret-info {
  font-style: italic;
}

.welcome-user {
  color: black;
  font-size: large;
  font-style: italic;
}